<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
  	<!-- 引入sessionFactory -->
  	<bean name="sessionFactory1" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
  		<property name="configLocation">
  			<value>classpath:hibernate.cfg.xml</value>
  		</property>
  	</bean>
	
	<!-- 配置bean -->
	
  	
  	<!-- 事务的配置 -->
  	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  		<property name="sessionFactory" ref="sessionFactory1"/>
  	</bean>
 
	<aop:config>
  		<aop:pointcut id="serviceMethods" expression="execution(* com.joshua.onlinebank.service.*.*(..))"/>
  		<aop:advisor advice-ref="tx" pointcut-ref="serviceMethods"/>
  	</aop:config>
  	
  	<tx:advice id="tx" transaction-manager="transactionManager">
  		<tx:attributes>
  			<tx:method name="get*" isolation="DEFAULT" propagation="SUPPORTS" read-only="true"/>
  			<tx:method name="load*" isolation="DEFAULT" propagation="SUPPORTS" read-only="true"/>
  			<tx:method name="search*" isolation="DEFAULT" propagation="SUPPORTS" read-only="true"/>
  			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" read-only="false"/>
  		</tx:attributes>
  	</tx:advice>
  	<!-- 注解配置事务 -->
  	<tx:annotation-driven transaction-manager="transactionManager"/>
</beans>